
# dependencies
/node_modules/
/frontend/node_modules/
/admin-app/node_modules/
/frontend/.env
/admin-app/.env
/backend/uploads


# production
/frontend/build
# misc
/backend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
