@use '../../../sass/abstracts/' as *;
.profile {
  padding: 2rem;
  // background-color: aquamarine;
  @media all and (max-width: 470px) {
    padding: 0;
  }
  @media all and (max-width: 1000px) {
    padding: 0.5rem;
  }

  &__header {
    text-align: center;

    .user-scroll {
      display: flex;
      justify-content: center;
      align-items: center;
      .cup-icon {
        width: 2.2rem;
        height: fit-content;
      }
      &__text {
        display: block;
        font-size: $mainFontSize;
        color: $lineHeight;
        // margin: 0 2rem;
      }
      .cup-icon-style {
        margin-bottom: 1rem;
      }
    }
  }

  &__content {
    padding: 0 3rem;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 1000px) {
      flex-direction: row;
      justify-content: space-around;
      padding: 0 2rem;
    }
    @media screen and (max-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0.2rem;
    }
    @media screen and (max-width: 470px) {
      padding: 0 5rem;
      flex-direction: column-reverse;
      justify-content: space-around;
    }

    .user-update {
      display: flex;
      flex-direction: column;

      .mp-input-update {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 1px solid $borderColor;
        border-radius: 5px;
        margin-bottom: 5px;
      }
    }

    //*
    .user-info {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      justify-content: center;
      @media screen and (max-width: 700px) {
        padding: 2rem;
        justify-content: center;
      }
      @media screen and (max-width: 470px) {
        padding: 0;
        justify-content: center;
      }

      & > *:not(:last-child) {
        margin-bottom: 2rem;
      }
      .info__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        border: 1px solid #eee;
        border-radius: 5px;
        & > * {
          margin-bottom: 0;
          margin-right: 1rem;
        }

        .mp-btn-order {
          width: 100%;
          background-color: $colorRed-L;
        }
        .mp-btn-cart {
          width: 100%;
          background-color: $productGreen;
        }

        .info-label {
          font-size: $mainTextSize;
          color: #000;
          margin-bottom: 0px;
        }

        .info-field {
          color: $newOrg;
          font-size: $mainTextSize;
        }
        .active-coupon {
          color: #62ba50;
        }
        .no-coupon {
          color: #d34141;
        }
      }
    }
  }
}
