@use '../../sass/abstracts/' as *;
.cat-card {
  //margin-left: 1rem;
  margin: auto;
  padding: 0.5rem;
  border-radius: 10px;

  width: 16rem;
  display: flex;
  flex-direction: column;

  @media all and (max-width: 950px) {
    width: 12rem;
    padding: 5px;
    border: 1px solid #c4c4c4;
  }

  @media all and (max-width: 600px) {
    width: 11rem;
    padding: 5px;
    border: 1px solid #c4c4c4;
  }
  @media all and (max-width: 400px) {
    width: 10rem;
    padding: 5px;
    border: 1px solid #c4c4c4;
  }

  // background-color: #eee;
  .cat-pictures {
    display: flex;
    // max-height: 10rem;

    .catImageShow {
      @media all and (max-width: 950px) {
        height: auto;
        width: 100%;
        max-height: 9rem;
      }
      @media (max-width: 900px) {
        height: auto;
        width: 100%;
        max-height: 7rem;
      }

      @media (max-width: 700px) {
        height: auto;
        width: 100%;
        max-height: 6rem;
      }
      @media (max-width: 500px) {
        height: auto;
        width: 100%;
        max-height: 5rem;
      }

      object-fit: contain;
      height: auto;
      width: 100%;
      max-height: 10rem;
    }
  }
  .cat-name {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: $mainFontSize;
    margin-bottom: 0;
  }
}
.prod-no-img {
  object-fit: contain;
  height: 5rem;
  width: 16rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
