@use '../../sass/abstracts/' as *;
.cat-card {
  //margin-left: 1rem;
  margin: auto;
  padding: 0.5rem;
  border-radius: 10px;

  width: 16rem;
  display: flex;
  flex-direction: column;

  @media all and (max-width: 950px) {
    width: 12rem;
    padding: 5px;
    border: 1px solid #c4c4c4;
  }

  @media all and (max-width: 600px) {
    width: 11rem;
    padding: 5px;
    border: 1px solid #c4c4c4;
  }
  @media all and (max-width: 400px) {
    width: 10rem;
    padding: 5px;
    border: 1px solid #c4c4c4;
  }

  // background-color: #eee;
  .cat-pictures {
    display: flex;
    max-height: 10rem;

    .catImageShow {
      object-fit: contain;
      width: 16rem;
      height: auto;
      border-radius: 0.8rem;
    }
    .prod-no-img {
      height: 10rem;
      width: 100%;
      // position: absolute;
      // top: 0;
      // left: 0;
      background-color: rgb(255, 255, 255);
      display: flex;
      align-items: center;

      justify-content: center;
    }
  }
  .cat-name {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: $mainFontSize;
    margin-bottom: 0;
  }
}
