@use '../../sass/abstracts/' as *;

.side {
  display: flex;

  &__filter {
    flex: 1;
    width: 100%;
    padding: 0.5rem;
    .filter-card {
      display: flex;
      flex-direction: column;
      &__group {
        padding: 1rem;
        width: 100%;
      }
    }
  }
  &__products {
    // flex: 4;
    width: 100%;
    padding: 2rem;
    .select-show {
      display: flex;
      justify-content: flex-end;
      margin: 5px 10px 5px 0;
    }
  }
}
.select-show {
  display: flex;
  justify-content: flex-end;
  margin: 5px 10px 5px 0;
}
