@use '../../sass/abstracts/' as *;
.pro-list {
  display: flex;
  flex-direction: column;

  .list-card {
    display: flex;
    padding: 3px;
    border: 1px solid #777;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 5px;
    .card-fig {
      // max-height: 10rem;
      // max-width: 10rem;
      margin-right: 5px;
      // width: 12rem;

      border-radius: 4px;

      &__img {
        // object-fit: contain;
        // width: 100%;
        // height: auto;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        object-fit: contain;
        overflow: hidden;
        outline: none;
        max-height: 7rem;
      }
    }
    .card-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      margin-left: 10px;
      &__ratings {
        margin-left: -5px;
      }
      &__text {
        font-size: $mainTextSize;
        width: 100%;

        word-wrap: break-word;
      }
      &__price {
        font-size: $mainFontSize;

        color: $colorRed-D;
      }

      &__Shipping {
        font-size: $subTextSize;
      }
      &__store {
        font-size: $subTextSize;
        // color: #777;
        // text-decoration: underline;
        text-transform: uppercase;
      }

      .item__price-dis {
        font-weight: $fontWeight-D;
        color: $colorRed-D;
        font-size: $priceFontSize;
      }
      .item__price-dis-rate {
        margin-left: 0.4rem;
        font-style: bold;
        font-weight: 600;
        font-size: $subTextSize;
        color: $colorRed-D;
        font-family: inherit;

        opacity: 90%;
      }
    }
  }
}
