$btnBackColor: #ff8219;
$backgroundColor: #f6f9fc;
$btnTextSize: 0.9rem;
$headerFont: 1.2rem;
$mainFontSize: 1rem;
$mainTextSize: 0.875rem;
$subTextSize: 0.75rem;
$priceFontSize: 1.2rem;
$iconWidth-S: 1.5rem;
$iconHeight-S: 1.5rem;
$lineHeight: 1.1875;
$textColor: #333;
$fontWeight-L: 400;
$fontWeight-D: 500;
$fontWeight-B: 600;
$boxShadow: 0px 12px 14px 2px rgba(0, 0, 0, 0.1);
$mainFontFamily: 'Poppins', sans-serif;

$marginForImg: 0.5rem;
$colorRed-L: #ed6362;
$colorRed-D: #e95454;
$colorOrng-L: #ffcc5b;
$colorOrng-M: #fdbc4b;
$colorOrng-D: #ec9922;
$productTextSize: 0.75rem;
$colorGreen: #1ba7ad;
$productGreen: #2e9e3f;
$newOrg: #fc9539;
$borderColor: #c0c0c0;
$globalMB: 0.3rem;

//* padding
$cardPad: 0.5rem;

//* login
$loginCard: 25rem;
