@use '../../../sass/abstracts' as *;

.place-order {
  margin-bottom: 3rem;
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .checkout-page {
    flex: 3;
    @media (max-width: 768px) {
      height: 80vh;
    }
  }

  .checkout-summary {
    flex: 1;
    margin-right: 1rem;
    @media (max-width: 768px) {
      margin-right: 0;
      width: 90%;
      margin: 1rem auto;
    }
    .buy-order-btn {
      margin: 5px 0;
      width: 100%;
      background-color: $newOrg;
    }
  }
}
.payment-method-select {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  .cos-payment-method {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    .cos-pay-on-door {
      margin-right: 10px;
      width: 1.5rem;
      height: 1.5rem;
      //  accent-color: $newOrg;
    }
    .text-pay-door {
      font-size: $mainTextSize;
      font-weight: 500;
      color: $newOrg;
    }

    .text-pay-bank {
      color: #777;
      font-size: $mainTextSize;
      font-weight: 500;
    }
  }
}
