@use '../../../sass/abstracts/' as *;

.nameOfPage {
  display: flex;

  .ltpuhead {
    width: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    // box-shadow: -4px 12px 63px 0px rgba(252, 149, 57, 0.59);
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(252, 149, 57);
    @media (max-width: 768px) {
      margin-top: 5px;
    }
  }
}
