.footer {
  background-color: var(--color-primary);
  height: 4rem;
  width: 100%;
  display: block;
  justify-content: center;
  z-index: 500;
  padding-bottom: 10rem;
  &__nav {
    background-color: #ee3;
  }
}
