@use '../../../sass/abstracts/' as *;
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    flex: auto;
    max-width: 20rem;
  }
  @media (max-width: 600px) {
    flex: auto;
    max-width: 18rem;
  }
  @media (max-width: 450px) {
    flex: auto;
    max-width: 15rem;
  }
  &__input {
    font-family: $mainFontFamily; //*inside input doesn't inherit automatically
    font-size: $mainTextSize;
    color: #000000;
    background-color: #eee;
    border: none;
    @media (max-width: 768px) {
      padding: 3px 1rem;
    }
    padding: 0.5rem 1.2rem;
    border-radius: 4rem;
    width: 90%;
    transition: all 0.2s;
    margin-right: -2rem;

    &:focus {
      @media (min-width: 768px) {
        outline: none;
        width: 100%;
        background-color: #f0eeee;
      }
    }

    &::-webkit-input-placeholder {
      //*only work with chrome and safari
      font-weight: 100;
      color: #c5c5c5;
      font-size: $subTextSize;
    }
  }
  &__input:focus + &__button {
    background-color: #f0eeee;
  }
  &__button {
    border: none;
    background-color: #eee;
    border-radius: 100px;
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
}
