@use '../../../../sass/abstracts/' as *;
.ad-newuser {
  &__title {
    font-weight: bold;
    color: #555;
  }
  &__form {
    .newUser-button {
      width: 20rem;
      border: none;
      background-color: $colorGreen;
      color: white;
      padding: 10px 7px;
      font-weight: bold;
      border-radius: 1rem;
      margin-top: 2rem;
      cursor: pointer;
    }

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    .newUserField {
      width: 40%;
      display: flex;
      flex-direction: column;
      margin: 1rem 2rem 0 0;
      @media (max-width: 800px) {
        width: 88%;
        margin: 0.5rem 0;
      }

      & > label {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: grey;
      }
      &-input {
        height: 2rem;
        padding: 1rem;
        border: 1px solid grey;
        border-radius: 5px;
        &:focus {
          outline: none;
        }
      }
      .addressAlan {
        height: 5rem;
      }
      &__gender {
        display: flex;
        align-items: center;

        & > input {
          width: 1.8rem;
          height: 1.8rem;
        }
        & > label {
          margin: 1rem;
          font-size: 1rem;
          color: #555;
        }
      }

      .newUser-select {
        height: 2rem;
        border-radius: 5px;
      }
    }
  }
}
