@use '../../../../sass/abstracts/' as *;
.featured {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .featuredItem {
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 10px;

    box-shadow: $boxShadow;
    .featuredTitle {
      font-size: $headerFont;
      color: $colorRed-D;
      font-weight: 500;
    }

    .featuredMoneyContainer {
      margin: 0.8rem 0;
      display: flex;
      align-items: center;
      .featuredMoney {
        font-size: $headerFont;
        font-weight: $fontWeight-D;
        color: $textColor;
      }
      .featuredMoneyRate {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: $mainFontSize;
        .featuredIcon {
          font-size: 1.6rem;
          margin-left: 5px;
          color: green;
        }
        .negative {
          color: red;
        }
      }
    }
    .featuredSub {
      font-size: $mainTextSize;
      color: $textColor;
    }
  }
}
