@use '../../../../sass/abstracts/' as *;
.widget-lg {
  flex: 2;
  box-shadow: $boxShadow;
  padding: 0.5rem;

  &__title {
    font-size: $headerFont;
    font-weight: $fontWeight-D;
  }
  &__table {
    width: 100%;
    border-spacing: 1.5rem;
    .widget-lg-body {
      .widgetLgTr {
        .widgetLgTh {
          text-align: left;
          &.status {
            text-align: center;
          }
        }

        &__user {
          &-img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.4rem;
          }
          &-name {
            font-weight: $fontWeight-D;
            font-size: $mainTextSize;
          }
        }
        &__data {
          font-size: $subTextSize;
        }
        &__amount {
          font-weight: 500;
          font-size: $mainFontSize;
          color: $colorRed-D;
        }
        &__status {
          display: flex;
          justify-content: center;
        }
        &__btn {
          border: none;
          border-radius: 10px;
          padding: 5px 8px;
          font-size: $mainTextSize;

          &.Approved {
            background-color: #e5faf2;
            color: #3bb077;
          }
          &.Pending {
            background-color: #ebf1fe;
            color: #2a7ade;
          }
          &.Declined {
            background-color: #fff0f1;
            color: #d95087;
          }
        }
      }
    }
  }
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  padding-bottom: 1rem;
}
