.ads {
  z-index: 5;
  flex: 1;
  height: 100%;
  width: 100%;
  display: block;
  &__image {
    height: 100%;
    touch-action: pan-x;
  }
}
.txt-aws {
  position: absolute;
  top: 5%;
  right: 50%;
  z-index: 100;
  color: #fff;
  transform: translateX(50%);
  text-align: center;
}
.aws-image {
  object-fit: contain !important;
  width: 100%;
  height: 100% !important;
}
