.feature {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  height: 25rem;
  background-color: #e0dfdf;
  justify-content: space-between;
  box-shadow: 0 5px 5px #a5a5a580;

  & > * {
    //padding: 5px;
    border: 1px solid #e3a319;
  }
}
//***category

///******* end category

//************************Stock Part*************
