// * {
//   margin: 0;
//   padding: 0;
// }

// *,
// *::after,
// *::before {
//   margin: 0;
//   padding: 0;
//   -webkit-box-sizing: inherit;
//   box-sizing: border-box;
// }

// html {
//   font-size: 62.5%;
// }

// html {
//   font-size: 65.5%;
//   font-family: "Open Sans", sans-serif;
//   @media all and (max-width: 600px) {
//     font-size: 50%;
//   }
// }

.stocks-show {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
}
.stock__header {
  margin: 2px 0 5px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #252525;
  &__name {
    display: flex;
    align-self: center;
    font-size: 1.2rem;
    margin: 0 5px;
  }
  &__logo {
    margin-right: 5px;
    font-size: 1.9rem;
  }
}

.store__hvr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #3d3939;
  margin: 5px 0 5px 0;

  .store__icon {
    font-size: 16px;
    margin-right: 5px;
  }

  .store__text {
    transition: transform 0.3s;
    font-size: 1.2rem;
    text-align: center;
    color: #3a3131;

    &:hover {
      transform: translateX(10px);
    }
    &:active {
      color: #cd1818;
    }
  }
}
