@use '../../../sass/abstracts/' as *;
@mixin respond($size) {
  @media only screen and (max-width: $size) {
    @content;
  } //600px
}

.details_product {
  overflow-x: hidden;
  // padding: 0 1rem;
  width: 100%;
  //  background-color: #77b7e2;
  display: flex;
  flex-direction: column;
  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .detail__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
    @media all and (max-width: 900px) {
      flex-direction: column;
    }

    .pictures-part {
      flex: 1;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      .verticalImageStack {
        width: 67px;
        display: flex;
        flex-direction: column;
        .thumbnail {
          width: 63px;
          height: 63px;
          border: 1px solid #f0f0f0;
          overflow: hidden;
          text-align: center;
        }

        .thumbnail img {
          max-width: 100%;
          max-height: 100%;
          object-fit: content;
        }
        .thumbnail.active {
          border: 2px solid #2874f0;
        }
      }
      //  border-radius: 5px;
      // .imgs__container-withswiper {
      //   // width: 35rem;
      //   @media (max-width: 900px) {
      //     display: none;
      //   }

      // }

      .img_containerWithSlick {
        // display: none;
        // @media (max-width: 900px) {
        display: none;
        // max-width: 30rem;
        // width: 100%;
        @media (max-width: 900px) {
          display: block;
          max-width: 50rem;
          width: 100%;
          margin-bottom: 15px;
          .slickImages {
            max-width: 12rem;
            max-height: 12rem;
            height: auto;
            width: 100%;
          }
        }
        .slickImages {
          max-width: 25rem;
          max-height: 25rem;
          height: auto;
          //  width: 100%;
          object-fit: contain;
        }
        // }
      }
      .imageWithRepCor {
        display: none;
        @media (min-width: 900px) {
          display: block;
          max-width: 30rem;
          width: 100%;
          max-height: 40rem;
        }
      }
    }
    .info-part {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &__name {
        margin-top: 0.5rem;
        font-size: $headerFont;
        text-align: center;
        color: #370aed;
      }
      &__stockCount-price {
        padding: 1rem;
        width: 90%;
        display: flex;
        justify-content: space-between;
        &-Container {
          display: flex;
          align-items: center;
          .h-Txt {
            font-size: 1rem;
          }
          .h-val {
            font-size: 1.1rem;
            font-weight: 500;
            margin-left: 4px;
            color: #fc9539;
            font-family: cursive, sans-serif;
            // color: #2b76b6;
            // color: $colorRed-D;
          }
        }
      }
      &__product-price {
        font-family: $mainFontFamily;
        font-size: 1.2rem;
        font-weight: bold;
        color: $colorRed-D;
      }
      &__rating-review {
        margin-top: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        //width: 90%;
        color: $newOrg;
        .review-number {
          margin: 0 0 3px 1rem;
          font-weight: 500;
        }
      }
      &__stockContainer {
        margin: 1rem 0;
        display: flex;
        text-align: left;
        align-items: center;
        width: 100%;
        justify-content: space-around;

        @include respond(900px) {
          flex-direction: row;
        }
        @include respond(600px) {
          flex-direction: column;
        }

        .product-amounts {
          display: flex;

          .stock-count-btn {
            margin: 0 0.2rem;
            padding: 2px 10px;
            border-radius: 3px;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            border: none;
            color: #fff;
            &::selection {
              background-color: transparent;
            }
            @include respond(480px) {
              padding: 0px 7px;
            }
          }
          .minus {
            background-color: #ff2323;
            &:hover {
              background-color: darken(#ff2323, 5%);
            }
          }
          .plus {
            background-color: #370aed;
            &:hover {
              background-color: darken(#370aed, 5%);
            }
          }
          .toAddCount {
            font-size: 1.2rem;
            color: darkslategrey;
            border: none;
            background-color: inherit;
            width: fit-content;
            text-align: center;
            //padding-left: 1rem;
            width: 3rem;
            outline: none;
          }
        }

        .addToCard-btn {
          display: flex;
          align-items: center;
          font-size: $btnTextSize;
          border: none;
          background-color: $colorRed-D;
          padding: 0.5rem;
          border-radius: 10px;
          cursor: pointer;
          transition: transform 0.3s ease-out;

          @include respond(900px) {
            width: 30%;
            margin-top: 0;
            justify-content: center;
            align-items: center;
          }
          @include respond(600px) {
            width: 50%;
            margin-top: 1rem;
            justify-content: center;
            align-items: center;
          }
          .card-icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.3rem;
            color: #ffffff;
          }
          .button-text {
            font-size: 1rem;

            margin: 0;
            color: #ffffff;
            font-weight: 400;
          }
          &:hover {
            background-color: darken($color: $colorRed-D, $amount: 5%);
          }
        }
      }

      &__size-select {
        width: 90%;
        padding: 1rem;
        //   background-color: #e324;

        .select-size-text {
          font-size: 1.2rem;
          color: $newOrg;
          font-weight: 500;
        }
        .size-select-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(45px, 1fr)); /*this */
          grid-gap: 0.5rem;

          .sizing {
            font-size: $mainTextSize;
            padding: 1px;
            border: 1px solid #000;
            color: $textColor;
            text-align: center;
            text-transform: uppercase;
            background-color: #f0eeee;
            border-radius: 3px;
            cursor: pointer;
            &:hover {
              background-color: darken($color: #f0eeee, $amount: 5%);
            }

            @include respond(700px) {
              padding: 0;
              font-size: 10px;
            }
          }

          .selected-item {
            background-color: #446fd3;
            color: #fff;
            &:hover {
              background-color: #446fd3;
              color: #fff;
            }
          }
          .outOfStock {
            cursor: not-allowed;
            opacity: 0.4;
          }
        }
      }
      &__description {
        padding-left: 1rem;
        margin-top: 1rem;
        width: 90%;
        .description-header {
          font-size: 1rem;
          color: $textColor;
        }
        .description-content {
          font-size: 0.8rem;
          font-weight: 400;
          color: #1b1b1a;
        }
      }

      &__sold-by {
        padding-left: 1rem;
        display: flex;
        align-items: center;
        width: 90%;
        .sold-text {
          font-size: 1rem;
          color: $textColor;
        }
        .seller-store {
          font-size: 0.8rem;
          color: $newOrg;
          font-weight: 500;
          margin-left: 5px;
          text-transform: uppercase;
        }
      }
    }
  }
  .review-part {
    border-top: 1px solid #000;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    .review-header {
      text-align: center;
      font-size: 1.2rem;
      color: darkslategrey;
    }
    .review-card__container {
      width: 80%;
      margin: 0 auto;

      .review-card {
        // background-color: rgb(201, 113, 113);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0.3rem;
        //align-items: center;
        border-bottom: 1px solid #d5d5d5;
        & > *:not(:last-child) {
          margin-bottom: 0.5rem;
        }
        &__user {
          margin-top: 0.5rem;
          display: flex;
          align-items: center;

          &-name {
            font-size: $mainFontSize;
            color: orange;
            margin-left: 3px;
          }
        }
        &__rating {
          display: flex;
          align-items: center;
          &-data {
            font-size: $mainTextSize;
            font-weight: 200;
            margin-left: 1rem;
          }
        }
        &__comment {
          font-size: $mainTextSize;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }
  .information-part {
    margin: 1rem 0;
    //  background-color: #9ca4b8;
    display: flex;
    flex-direction: column;
    &__header {
      text-align: center;
      font-size: 1rem;
      color: #1b1b1a;
    }
    &__texts {
      margin: 0 1rem;
      width: 79%;
      margin: 0 auto;
      border-bottom: 1px solid #000;
      .info__container {
        //    background-color: wheat;

        display: grid;
        grid-template-columns: repeat(2, auto);
        .feature-item {
          padding: 0.2rem;
          display: flex;
          font-size: 0.9rem;
          &__title {
            font-weight: 500;

            color: $newOrg;
          }
          &__specific {
            font-weight: 400;

            color: black;
          }
        }
      }
    }
    &__images {
      margin: 1rem 0;
      width: 100%;
      //    background-color: #ee3;
      .item__specific-container {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;

        .item__specific-img {
          border-bottom: 1px solid #777;
          object-fit: contain;
          // width: 100%;
          max-height: 31rem;
        }
      }
    }
  }
}

.please-select-size {
  color: #ff0202 !important;
}

.styledBtn {
  background-color: #fc9539 !important;
  // background-color: #2e9e3f;
  &:hover {
    background-color: #ec7a15 !important ;
  }
}

.try-img-carousel {
  max-height: 20rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.carousel .control-next.control-arrow::before {
  border-left: 8px solid #000 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000 !important;
}
